In [1]:
import pandas as pd

In [23]:
df = pd.read_pickle('hasil2020-04-27 08:17:33.915876.pkl')

In [24]:
df

,peg_id,peg_nip,peg_nama,satuan_kerja_nama,satuan_kerja_id,unit_kerja_nama,jabatan_jenis,nama_jabatan,foto,tipe_pegawai,...,zona_kepsek_color,jobfit,talents_mapping_url,tm_sma,tm_slb,tm_smk,kuisioner_minat,kode_minat_opd,jobfit_data,nilai_akhir
0,196411271988111008,196411271988111008,RIDWAN RUSWANDA,DISDIK,1003,SMAN 13 GARUT,3,GURU MADYA,https://siap.jabarprov.go.id/uploads/196411271...,guru,...,lightblue,{'kepsek_sma_1': 41},"http://103.122.5.89/tm/Ridwan Ruswanda, S.pd.,...",41.0,NaN,NaN,"{'minat_ids': ['100331110500', '100331112700',...",minat,"[{'jobfit_jenis': 'kepsek_sma_1', 'jobfit_nama...","{'nilai': '8.21833', 'atas': '7.6', 'bawah': '..."
1,196411271988111008,196411271988111008,RIDWAN RUSWANDA,DISDIK,1003,SMAN 13 GARUT,3,GURU MADYA,https://siap.jabarprov.go.id/uploads/196411271...,guru,...,lightblue,{'kepsek_sma_1': 41},"http://103.122.5.89/tm/Ridwan Ruswanda, S.pd.,...",41.0,NaN,NaN,"{'minat_ids': ['100331110500', '100331112700',...",minat,"[{'jobfit_jenis': 'kepsek_sma_1', 'jobfit_nama...","{'nilai': '8.21833', 'atas': '7.6', 'bawah': '..."
2,198208072014011008,198208072014011008,ZIA MULYAWAN RAHMATULOH,DISDIK,1003,SMAN 2 PADALARANG,3,GURU PERTAMA,https://siap.jabarprov.go.id/uploads/198208072...,guru,...,None,None,None,NaN,NaN,NaN,"{'minat_ids': ['100321114900', '100321115000',...",beda,[],"{'nilai': '8.135', 'atas': '8', 'bawah': '8.4'..."
3,198208072014011008,198208072014011008,ZIA MULYAWAN RAHMATULOH,DISDIK,1003,SMAN 2 PADALARANG,3,GURU PERTAMA,https://siap.jabarprov.go.id/uploads/198208072...,guru,...,None,None,None,NaN,NaN,NaN,"{'minat_ids': ['100321114900', '100321115000',...",beda,[],"{'nilai': '8.135', 'atas': '8', 'bawah': '8.4'..."
4,196101131984032000,196101131984032000,SITI NURHAYATI,DISDIK,1003,SMAN 10 GARUT,3,GURU MADYA,https://siap.jabarprov.go.id/uploads/196101131...,guru,...,None,None,None,NaN,NaN,NaN,"{'minat_ids': ['100331110200', '100331110100',...",minat,[],"{'nilai': '8.54583', 'atas': '8.62963', 'bawah..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,196411281989031008,196411281989031008,SUROTO,DISDIK,1003,SMAN 1 TELAGASARI,3,GURU MADYA,https://siap.jabarprov.go.id/uploads/196411281...,guru,...,None,None,None,NaN,NaN,NaN,"{'minat_ids': ['100324111500', '100324112400',...",beda,[],"{'nilai': '8.20813', 'atas': '8.44444', 'bawah..."
196,196709231994032000,196709231994032000,HENDRIYATI,DISDIK,1003,SMAN 1 BEKASI,3,GURU MADYA,https://siap.jabarprov.go.id/uploads/196709231...,guru,...,None,None,None,NaN,NaN,NaN,"{'minat_ids': ['100323120100', '100323121100',...",beda,[],"{'nilai': '8.15308', 'atas': '8.4', 'bawah': '..."
197,196111161987031008,196111161987031008,JEJE ZAINAL MUSTOPA,DISDIK,1003,SMAN 1 MANONJAYA,3,GURU MADYA,https://siap.jabarprov.go.id/uploads/196111161...,guru,...,None,None,None,NaN,NaN,NaN,"{'minat_ids': ['100332111100', None, '10033212...",beda,[],"{'nilai': '8.1', 'atas': '8', 'bawah': '0', 'r..."
198,196111161987031008,196111161987031008,JEJE ZAINAL MUSTOPA,DISDIK,1003,SMAN 1 MANONJAYA,3,GURU MADYA,https://siap.jabarprov.go.id/uploads/196111161...,guru,...,None,None,None,NaN,NaN,NaN,"{'minat_ids': ['100332111100', None, '10033212...",beda,[],"{'nilai': '8.1', 'atas': '8', 'bawah': '0', 'r..."
199,197112171998022016,197112171998022016,"ELIS SITI JUARIAH, S.PD",DISDIK,1003,SMAN 19 GARUT,3,GURU MADYA,https://siap.jabarprov.go.id/uploads/197112171...,guru,...,None,None,None,NaN,NaN,NaN,"{'minat_ids': ['100331111100', '100331110100',...",minat,[],"{'nilai': '8.145', 'atas': '7.6', 'bawah': '0'..."

In [25]:
print(list(df))

['peg_id', 'peg_nip', 'peg_nama', 'satuan_kerja_nama', 'satuan_kerja_id', 'unit_kerja_nama', 'jabatan_jenis', 'nama_jabatan', 'foto', 'tipe_pegawai', 'rank_eselon', 'rank_opd', 'jumlah_opd', 'jumlah_eselon', 'zindex_opd', 'zindex_eselon', 'umur', 'riwpendidikan', 'joki', 'kompetensi', 'u_mutasi', 'u_promosi', 'u_tetap', 'n_positif', 'n_negatif', 'u_rotasi', 'u_demosi', 'atas', 'bawah', 'rekan', 'pribadi', 'nilai', 'tmt_jabatan', 'indikator', 'eselon', 'golongan', 'kolom1', 'kolom2', 'kolom3', 'kolom4', 'kolom5', 'kolom6', 'kolom7', 'kolom8', 'kolom9', 'kolom10', 'kolom11', 'kolom12', 'kolom13', 'kolom14', 'kolom15', 'kompetensi_es3_nilai', 'kompetensi_es3_rank', 'kompetensi_es3_total', 'kompetensi_es3_zscore', 'kompetensi_es4_nilai', 'kompetensi_es4_rank', 'kompetensi_es4_total', 'kompetensi_es4_zscore', 'total_pengisi', 'pengisi_bulan', 'ratarata_pengisi', 'lv1_unit_kerja_nama', 'lv2_unit_kerja_nama', 'lv3_unit_kerja_nama', 'lv4_unit_kerja_nama', 'unit_kerja_id', 'rank_opd_akhir', 'jumlah_opd_akhir', 'total_skpd_akhir', 'n_unik_positif', 'n_unik_negatif', 'zscore_opd_bulan', 'nama_tugas_tambah', 'has_nuks', 'score_terbaik', 'vote_terbaik', 'vote_pool', 'periode_terbaik', 'kinerja_rata', 'kinerja_bulan', 'zscore_eselon', 'zscore_eselon_bulan', 'kuisioner_eselon_color', 'kuisioner_eselon_color_bulan', 'rank_eselon_akhir', 'jumlah_eselon_akhir', 'zona_kepsek_score_bulan', 'zona_kepsek_color_bulan', 'zona_kepsek_score', 'zona_kepsek_color', 'jobfit', 'talents_mapping_url', 'tm_sma', 'tm_slb', 'tm_smk', 'kuisioner_minat', 'kode_minat_opd', 'jobfit_data', 'nilai_akhir']

In [27]:
newdf = df[['peg_nip', 'peg_nama', 'unit_kerja_nama', 'nama_tugas_tambah', 'kolom2', 'kolom3']]

In [28]:
newdf

,peg_nip,peg_nama,unit_kerja_nama,nama_tugas_tambah,kolom2,kolom3
0,196411271988111008,RIDWAN RUSWANDA,SMAN 13 GARUT,KEPALA SEKOLAH SMAN 13 GARUT,81320414526,ridwan_ruswanda@yahoo.com
1,196411271988111008,RIDWAN RUSWANDA,SMAN 13 GARUT,KEPALA SEKOLAH SMAN 13 GARUT,81320414526,ridwan_ruswanda@yahoo.com
2,198208072014011008,ZIA MULYAWAN RAHMATULOH,SMAN 2 PADALARANG,KEPALA LABORATORIUM SMKN 1 LEUWILIANG,85817185664,ziarahmatuloh@gmail.com
3,198208072014011008,ZIA MULYAWAN RAHMATULOH,SMAN 2 PADALARANG,KEPALA LABORATORIUM SMKN 1 LEUWILIANG,85817185664,ziarahmatuloh@gmail.com
4,196101131984032000,SITI NURHAYATI,SMAN 10 GARUT,None,81320641686,siti_nurhayati13@yahoo.com
...,...,...,...,...,...,...
195,196411281989031008,SUROTO,SMAN 1 TELAGASARI,WAKIL SEKOLAH KESISWAAN SMAN 1 TELAGASARI,81310665514,suroto.sman1tlg@gmail.com
196,196709231994032000,HENDRIYATI,SMAN 1 BEKASI,None,81310703414,hendriyati67@gmail.com
197,196111161987031008,JEJE ZAINAL MUSTOPA,SMAN 1 MANONJAYA,None,85223743111,mustafaza61@gmail.com
198,196111161987031008,JEJE ZAINAL MUSTOPA,SMAN 1 MANONJAYA,None,85223743111,mustafaza61@gmail.com
199,197112171998022016,"ELIS SITI JUARIAH, S.PD",SMAN 19 GARUT,None,81323953824,lis.kim90@gmail.com

In [29]:
import datetime
x = datetime.datetime.now()

In [30]:
newdf.to_csv('output{}.csv'.format(x))

In [31]:
df = pd.read_pickle('hasil2020-04-28 05:22:22.852774.pkl')

In [32]:
df

,peg_id,peg_nip,peg_nama,satuan_kerja_nama,satuan_kerja_id,unit_kerja_nama,jabatan_jenis,nama_jabatan,foto,tipe_pegawai,...,zona_kepsek_color,jobfit,talents_mapping_url,tm_sma,tm_slb,tm_smk,kuisioner_minat,kode_minat_opd,jobfit_data,nilai_akhir
0,197112171998022016,197112171998022016,"ELIS SITI JUARIAH, S.PD",DISDIK,1003,SMAN 19 GARUT,3,GURU MADYA,https://siap.jabarprov.go.id/uploads/197112171...,guru,...,None,None,None,NaN,NaN,NaN,"{'minat_ids': ['100331111100', '100331110100',...",minat,[],"{'nilai': '8.145', 'atas': '7.6', 'bawah': '0'..."
1,197112171998022016,197112171998022016,"ELIS SITI JUARIAH, S.PD",DISDIK,1003,SMAN 19 GARUT,3,GURU MADYA,https://siap.jabarprov.go.id/uploads/197112171...,guru,...,None,None,None,NaN,NaN,NaN,"{'minat_ids': ['100331111100', '100331110100',...",minat,[],"{'nilai': '8.145', 'atas': '7.6', 'bawah': '0'..."
2,196812011995122016,196812011995122016,YAYAN KURNIA,DISDIK,1003,SMAN TOMO,3,GURU MADYA,https://siap.jabarprov.go.id/uploads/196812011...,guru,...,None,None,None,NaN,NaN,NaN,"{'minat_ids': ['100328121500', '100328120200',...",beda,[],"{'nilai': '8.1075', 'atas': '7.93333', 'bawah'..."
3,196812011995122016,196812011995122016,YAYAN KURNIA,DISDIK,1003,SMAN TOMO,3,GURU MADYA,https://siap.jabarprov.go.id/uploads/196812011...,guru,...,None,None,None,NaN,NaN,NaN,"{'minat_ids': ['100328121500', '100328120200',...",beda,[],"{'nilai': '8.1075', 'atas': '7.93333', 'bawah'..."
4,196212211999031008,196212211999031008,DEDEN RACHMAT SOBIRIN,DISDIK,1003,SLBN WIDI ASIH,3,GURU MADYA,https://siap.jabarprov.go.id/uploads/196212211...,guru,...,None,None,None,NaN,NaN,NaN,"{'minat_ids': ['100333125500', '100333135500',...",beda,[],"{'nilai': '8.30886', 'atas': '8.8', 'bawah': '..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1795,196801111994031008,196801111994031008,ASEP KAHLAN HUSEN,DISDIK,1003,SMAN 3 SUBANG,3,GURU MADYA,https://siap.jabarprov.go.id/uploads/none.png,guru,...,None,None,None,NaN,NaN,NaN,"{'minat_ids': ['100324131500', '100324131400',...",beda,[],"{'nilai': '7.93679', 'atas': '7.8', 'bawah': '..."
1796,196307071987031008,196307071987031008,ACENG SOLIHIN,DISDIK,1003,TATA USAHA SMAN 1 DAYEUHKOLOT,2,KEPALA TATA USAHA SMAN 1 DAYEUHKOLOT,https://siap.jabarprov.go.id/uploads/196307071...,struktural,...,None,None,None,NaN,NaN,NaN,"{'minat_ids': ['100328111500', '100328111000',...",beda,[],"{'nilai': '7.67619', 'atas': '8', 'bawah': '7...."
1797,196307071987031008,196307071987031008,ACENG SOLIHIN,DISDIK,1003,TATA USAHA SMAN 1 DAYEUHKOLOT,2,KEPALA TATA USAHA SMAN 1 DAYEUHKOLOT,https://siap.jabarprov.go.id/uploads/196307071...,struktural,...,None,None,None,NaN,NaN,NaN,"{'minat_ids': ['100328111500', '100328111000',...",beda,[],"{'nilai': '7.67619', 'atas': '8', 'bawah': '7...."
1798,198506292009022016,198506292009022016,NISA NURLAELA ZAMIL,DISDIK,1003,SMKN 1 PALABUHANRATU,3,GURU MUDA,https://siap.jabarprov.go.id/uploads/198506292...,guru,...,None,None,None,NaN,NaN,NaN,"{'minat_ids': ['100325112900', '100325112600',...",beda,[],"{'nilai': '8.865', 'atas': '8.6', 'bawah': '9...."
1799,198506292009022016,198506292009022016,NISA NURLAELA ZAMIL,DISDIK,1003,SMKN 1 PALABUHANRATU,3,GURU MUDA,https://siap.jabarprov.go.id/uploads/198506292...,guru,...,None,None,None,NaN,NaN,NaN,"{'minat_ids': ['100325112900', '100325112600',...",beda,[],"{'nilai': '8.865', 'atas': '8.6', 'bawah': '9...."

In [33]:
newdf_2 = df[['peg_nip', 'peg_nama', 'unit_kerja_nama', 'nama_tugas_tambah', 'kolom2', 'kolom3']]

In [34]:
newdf_2

,peg_nip,peg_nama,unit_kerja_nama,nama_tugas_tambah,kolom2,kolom3
0,197112171998022016,"ELIS SITI JUARIAH, S.PD",SMAN 19 GARUT,None,81323953824,lis.kim90@gmail.com
1,197112171998022016,"ELIS SITI JUARIAH, S.PD",SMAN 19 GARUT,None,81323953824,lis.kim90@gmail.com
2,196812011995122016,YAYAN KURNIA,SMAN TOMO,None,181320737261,kurniayayan@gmail.com
3,196812011995122016,YAYAN KURNIA,SMAN TOMO,None,181320737261,kurniayayan@gmail.com
4,196212211999031008,DEDEN RACHMAT SOBIRIN,SLBN WIDI ASIH,None,81563131485,dedenrachmatsobirin@yahoo.co.id
...,...,...,...,...,...,...
1795,196801111994031008,ASEP KAHLAN HUSEN,SMAN 3 SUBANG,None,8122454312,asepkahlanh@gmail.com
1796,196307071987031008,ACENG SOLIHIN,TATA USAHA SMAN 1 DAYEUHKOLOT,None,82117153622,acengsolihin16@gmail.com
1797,196307071987031008,ACENG SOLIHIN,TATA USAHA SMAN 1 DAYEUHKOLOT,None,82117153622,acengsolihin16@gmail.com
1798,198506292009022016,NISA NURLAELA ZAMIL,SMKN 1 PALABUHANRATU,KEPALA PROGRAM KEAHLIAN SMKN 1 PALABUHANRATU,81586307514,Nisa290685@gmail.com
1799,198506292009022016,NISA NURLAELA ZAMIL,SMKN 1 PALABUHANRATU,KEPALA PROGRAM KEAHLIAN SMKN 1 PALABUHANRATU,81586307514,Nisa290685@gmail.com